<mat-card class="custom-card">
    <mat-card-content>
      <p>Explore the live version of this app to experience its full functionality. Would you like to visit the live website now?</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="secondary" (click)="proceed()">
        <mat-icon>open_in_new</mat-icon>
        Proceed
      </button>
      <button mat-button color="warn" (click)="cancel($event)">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
  