<div class="details-container">
  <div *ngIf="isLoading">
    <!-- Spinner component -->
    <mat-spinner diameter="30"></mat-spinner>
    <p>Loading...</p>
  </div>
  @if (!isLoading) {
  <div class="project-header">
    <div class="mat-headline-3">{{ project.name}} </div>
    <div class="tech-stack">
      <mat-chip *ngFor="let item of project.techStack" class="stack">
        <img matChipAvatar [src]="item.imageUrl">
        {{ item.name }}
      </mat-chip>
    </div>
  </div>
  <div class="project-description">
    <h2 class="mat-h1">Description</h2>
    <p class="mat-body-1">{{ project.description }}</p>
  </div>
  <h2 class="mat-h1">Samples</h2>
  <mat-card appearance="outlined" *ngIf="!isMobile">
    <mat-card-content class="centered">
      
      
      <section>
        
        <mat-button-toggle-group vertical="true" [(ngModel)]="selectedScreen" aria-label="Font Style">
          @for (sample of project.samples; track $index) {
            <mat-button-toggle color="primary" [value]="sample.imageUrl">{{sample.name}}</mat-button-toggle>
          }
          
          <mat-button-toggle *ngIf="project.isLive && project.isMobileOnly" value="live"> Live View (Experimental)</mat-button-toggle>
          
        </mat-button-toggle-group>
        
      </section>
      <button (click)="togglePlay()" mat-icon-button aria-label="A Button with Play/Pause Icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">{{playIcon}}</mat-icon>
      </button>
      <div class="phone-container">
        <div class="phone-background"></div>
        
        <img  [lazyLoad]="selectedScreen" [defaultImage]="imageUrl" *ngIf="project.isMobileOnly && selectedScreen!='live'" [src]="selectedScreen" alt="">
        <iframe *ngIf="project.isLive && project.isMobileOnly && selectedScreen=='live'" [src]="safeWs" style="font-size: 0.8em;"></iframe>
        
      </div>
      
    </mat-card-content>
  </mat-card>
  <div *ngIf="isMobile" class="samples-section">
    
    <div class="sample-grid">
      <div *ngFor="let sample of project.samples; let i=index" style="position: relative;" class="sample">
        <img (click)="previewImage(i)"  [lazyLoad]="sample.imageUrl" [defaultImage]="imageUrl" alt="{{ sample.name }}" />
        <h3>{{ sample.name }}</h3>
      </div>
    </div>
  </div>
  <div class="actions">
    <button (click)="openExternal(project.github)" mat-button color="primary">GitHub</button>
    <button *ngIf="project.isLive" (click)="openExternal(project.website)" mat-button color="accent">View</button>
  </div>
  }

</div>